@font-face {
    font-family: poppins;
    src: url(../huddle-landing-page-with-single-introductory-section-master/font/Poppins/Poppins-Light.ttf)
}

@font-face {
    font-family: open-sans;
    src: url(../huddle-landing-page-with-single-introductory-section-master/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.body{
    margin: 50px 110px 50px 110px;
}

.huddle{
    color: hsl(0, 0%,100%);
    font-size: 30px;
    font-family: "open-sans";
    padding-bottom: 50px;
    font-weight: 700;
}

.container{
    display: flex;
}

img{
    height: 350px;
    margin-right: 60px;
}

h1{
    color: hsl(0, 0%, 100%);
    font-family: "poppins";
    font-weight: 600;
}

p{
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-family: "poppins";
    font-size: 14px;
}

input{
    border-radius:18px;
    font-size: 14px;
    color:hsl(257, 40%, 49%);
    font-family: "poppins";
    font-weight: 600px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 5px;
    width: 150px;
    border: none;
}

input:hover{
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%)
}

.sosmed{
    float: right;
}

i{
    border-radius: 50%;
    border: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    padding: 10px;
    margin:2px;
}

i:hover{
    border-color: hsl(300, 89%, 55%);
    color: hsl(300, 89%, 55%)
}

